<div class="container">
  <div class="input-container">
    <form #animalForm="ngForm" (ngSubmit)="onSubmit(); animalForm.reset()">
      <div class="form-group display--tabble">
        <input
          type="text"
          class="form-control"
          placeholder="Animal new animal..."
          [(ngModel)]="animalData.name"
          name="name"
          id="name"
          required
          minlength="2"
          maxlength="20"
        />
      </div>
      <div class="display--tabble">
        <select
          class="form-select"
          [(ngModel)]="animalData.category"
          id="category"
          name="category"
          aria-label="Default select example"
          required
        >
          <option value="cat">Cat</option>
          <option value="dog">Dog</option>
        </select>
      </div>
      <div class="display--tabble">
        <button
          [disabled]="!animalForm.form.valid"
          type="submit"
          class="btn btn-primary adjust-button-position"
        >
          Add
        </button>
      </div>
    </form>
  </div>
</div>
